.popupBlock {
  margin: 10rem auto;
  width: 40rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: calc(50vw - 20rem);
  z-index: 20;
}
.popupBlock button {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}